.pagination{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
}
.pagination__item, .pagination__arrow{
  margin: 0 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ffffff;  
  background-color: #0fcf45;
  cursor: pointer;
  transition: 0.5s;
}
.pagination__arrow{
  background-color: #22ff00;
}
.pagination__arrow :hover{
  color: #00a5f6;
}
.pagination__item:hover{
  background-color: #00ff48;
}
.pagination__item_active{
  background-color: #00a5f6;
  pointer-events: none;
}
