.inputWrapper input,
.inputWrapper textarea {
  margin-right: 5px;
  width: 100%;
  resize: none;
  font-size: 20px;
  outline-color: #00a5f6;
  padding: 10px;
  background-color: transparent;
  position: relative;
  z-index: 2;
  padding-right: 50px;
}
.input::first-letter {
  text-transform: uppercase;
}
.input::placeholder {
  font-size: 20px;
}
.exclamation {
  position: absolute;
  top: 16%;
  right: 20px;
  width: 15px;
  height: 100%;
  font-size: 30px;
  color: #cc2f2f;
}
.warning {
}
.warningText{
  position: absolute;
  top: 0;
  right: -160px;
  width: 145px;
  background-color: #cc2f2f;
  font-size: 15px;
  color: #ffffff;
  padding: 8px;
  border-radius: 10px;
}
.warningText::before{
  content: '';
  position: absolute;
  top: 20%;
  transform: translate(0,-20%);
  left: -16px;
  display: block;
  border: 10px solid transparent;
  border-right: 10px solid #cc2f2f;
}
.inputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.error input,
.error textarea {
  outline: none;
  border: 2px solid #cc2f2f;
}
