.header{
  background-color: #0050B3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.logo{
  flex: 0 0 15%
}
.logo img{
  width: 100%;
}
.name{
  flex: 0 0 65%;
  text-align: center;
  font-size: 75px;
  color: #ff7a00;
  letter-spacing: 3px;
}
.login{
  flex: 0 0 20%;
  text-align: center;
}
.login a{
  font-size: 45px;
  color: #ff7a00;
  letter-spacing: 3px;
  text-decoration: none;
}
